@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot");
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Black.eot");
  src: local("Poppins Black"), local("Poppins-Black"), url("../fonts/Poppins-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Black.woff2") format("woff2"), url("../fonts/Poppins-Black.woff") format("woff"), url("../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot");
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #181414;
}
html a {
  font-weight: 500 !important;
  text-decoration: none;
}

* {
  font-family: "Poppins", sans-serif !important;
}

body {
  background: #f9f9f9;
}

main section:not(:first-of-type) {
  margin-top: 60px;
}
@media (max-width: 575px) {
  main section:not(:first-of-type) {
    margin-top: 45px;
  }
}

h1 {
  font-weight: 900;
  font-size: 52px;
  line-height: 120%;
}
@media (max-width: 767px) {
  h1 {
    font-size: 45px;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
button:hover {
  border: 2px solid #c60101;
  background: rgba(252, 252, 252, 0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #c60101;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.red-button {
  display: block;
  padding: 15px 29px;
  background: #c60101;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid rgba(252, 252, 252, 0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-align: center;
}
.red-button:hover {
  border: 2px solid #c60101;
  background: rgba(252, 252, 252, 0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #c60101;
}

.white-button {
  display: block;
  padding: 15px 29px;
  background: #fff;
  color: #181414;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-align: center;
}
.white-button:hover {
  background: #c60101;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff;
}

.products-card {
  border-radius: 10px;
}
.products-card .card-body {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767px) {
  .products-card .card-body {
    padding: 20px;
  }
}
.products-card .card-body .price {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: auto;
}
.products-card .card-title {
  font-weight: bold;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}
.products-card .card-text {
  font-weight: 500;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}
.products-card .red-button {
  margin-top: auto;
}

.breadcrumb {
  margin-top: 43px;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  .breadcrumb {
    margin-top: 25px;
  }
}
.breadcrumb .breadcrumb-item,
.breadcrumb a {
  font-family: "Poppins", sans-serif;
  color: #a8a8a8;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.breadcrumb .breadcrumb-item:not(.active):hover,
.breadcrumb a:not(.active):hover {
  color: #c60101;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #a8a8a8;
}

.pop-up {
  background-image: url(../img/ship.webp);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 130% 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 400px;
  width: 805px;
  max-width: 100%;
  padding: 40px;
  padding-bottom: 50px;
  cursor: auto !important;
}
@media (max-width: 575px) {
  .pop-up {
    background-size: 80%;
  }
}
.pop-up h2 {
  margin-bottom: 10px;
}
.pop-up p {
  max-width: 305px;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  margin-bottom: 20px;
}
.pop-up form {
  max-width: 350px;
}
.pop-up .popup-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pop-up .popup-inputs input {
  background: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #929292;
  padding-left: 17px;
  height: 53px;
  margin-bottom: 20px;
}
.pop-up .popup-inputs input:focus-visible {
  outline: none;
}

.fancybox__content > .carousel__button.is-close {
  top: 7px;
  right: 7px;
  color: #a3a3a3;
}
.fancybox__content > .carousel__button.is-close:hover {
  border: none;
}

header .navbar {
  background-color: #fff !important;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}
header .navbar .navbar-collapse {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .navbar .navbar-collapse .navbar-nav {
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
@media (max-width: 1199px) {
  header .navbar .navbar-collapse .navbar-nav {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 992px) {
  header .navbar .navbar-collapse .navbar-nav {
    padding: 10px;
  }
}
@media (max-width: 575px) {
  header .navbar .navbar-brand img {
    max-width: 120px;
    height: 50px;
  }
}
header .navbar .navbar-toggler {
  border: 1px solid #c60101;
}
header .navbar .navbar-toggler:focus-visible {
  outline: none;
}
header .navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
header .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(198 1 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
header .navbar .red-button {
  font-size: 12px;
  padding: 10px 29px;
}
@media (max-width: 992px) {
  header .navbar .red-button {
    display: none;
  }
}
header .navbar .red-button.mob {
  display: none;
}
@media (max-width: 992px) {
  header .navbar .red-button.mob {
    font-size: 12px;
    display: block;
    margin-left: auto;
    margin-right: 25px;
    padding: 8px 25px;
  }
}
@media (max-width: 575px) {
  header .navbar .red-button.mob {
    margin-right: 15px;
    padding: 7px 15px;
  }
}

footer {
  margin-top: 60px;
}
footer .footer-wrapper {
  background: #404040;
  padding: 28px 0;
}
@media (max-width: 992px) {
  footer .footer-wrapper {
    text-align: center;
  }
}
footer .footer-wrapper .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 992px) {
  footer .footer-wrapper .footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer .footer-wrapper .footer-row a {
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
footer .footer-wrapper .footer-row a:hover {
  color: #fad537;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
footer .footer-wrapper .footer-row .footer-firstblock {
  max-width: 240px;
}
@media (max-width: 1199px) {
  footer .footer-wrapper .footer-row .footer-firstblock {
    max-width: 190px;
  }
}
@media (max-width: 992px) {
  footer .footer-wrapper .footer-row .footer-firstblock {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
footer .footer-wrapper .footer-row .footer-firstblock img {
  margin-bottom: 25px;
}
footer .footer-wrapper .footer-row .footer-firstblock p {
  color: rgba(255, 255, 255, 0.52);
}
footer .footer-wrapper .footer-row .footer-secondblock {
  max-width: 82px;
}
@media (max-width: 992px) {
  footer .footer-wrapper .footer-row .footer-secondblock {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
footer .footer-wrapper .footer-row .footer-secondblock ul li:not(:last-child) {
  margin-bottom: 20px;
}
footer .footer-wrapper .footer-row .footer-thirdblock {
  max-width: 326px;
}
@media (max-width: 1199px) {
  footer .footer-wrapper .footer-row .footer-thirdblock {
    max-width: 250px;
  }
}
@media (max-width: 992px) {
  footer .footer-wrapper .footer-row .footer-thirdblock {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
footer .footer-wrapper .footer-row .footer-thirdblock .footer-contacts li:not(:last-child) {
  margin-bottom: 20px;
}
footer .footer-wrapper .footer-row .footer-thirdblock .footer-contacts .footer-phone::before {
  content: url(../img/tel-icon.svg);
  margin-right: 13px;
}
@media (max-width: 540px) {
  footer .footer-wrapper .footer-row .footer-thirdblock .footer-contacts .footer-phone::before {
    margin-right: 5px;
  }
}
footer .footer-wrapper .footer-row .footer-thirdblock .footer-contacts .footer-phone a {
  color: #fad537;
  font-weight: 500;
  font-size: 18px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
footer .footer-wrapper .footer-row .footer-thirdblock .footer-contacts .footer-phone a:hover {
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
footer .footer-wrapper .footer-row .footer-thirdblock .footer-contacts .footer-mail::before {
  content: url(../img/mail-icon.svg);
  margin-right: 13px;
}
@media (max-width: 540px) {
  footer .footer-wrapper .footer-row .footer-thirdblock .footer-contacts .footer-mail::before {
    margin-right: 5px;
  }
}
footer .footer-wrapper .footer-row .footer-thirdblock .footer-contacts .footer-adress {
  color: #fff;
  position: relative;
  padding-left: 28px;
}
@media (max-width: 992px) {
  footer .footer-wrapper .footer-row .footer-thirdblock .footer-contacts .footer-adress {
    max-width: 517px;
  }
}
@media (max-width: 540px) {
  footer .footer-wrapper .footer-row .footer-thirdblock .footer-contacts .footer-adress {
    padding-left: 0;
  }
}
footer .footer-wrapper .footer-row .footer-thirdblock .footer-contacts .footer-adress::before {
  content: "";
  position: absolute;
  background: url(../img/adress-icon.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 19px;
  top: 6px;
  left: 1px;
}
@media (max-width: 992px) {
  footer .footer-wrapper .footer-row .footer-thirdblock .footer-contacts .footer-adress::before {
    top: 1px;
    left: 69px;
  }
}
@media (max-width: 540px) {
  footer .footer-wrapper .footer-row .footer-thirdblock .footer-contacts .footer-adress::before {
    content: url(../img/adress-icon.svg);
    margin-right: 5px;
    position: initial;
  }
}
footer .footer-wrapper .footer-row .footer-fourthblock {
  margin-left: auto;
}
@media (max-width: 992px) {
  footer .footer-wrapper .footer-row .footer-fourthblock {
    margin-left: 0;
    margin-top: 20px;
  }
}
footer .footer-wrapper .footer-row .footer-fourthblock .white-button {
  color: #c60101;
  font-weight: 600;
  margin-bottom: 45px;
  width: 205px;
  padding: 11px;
}
footer .footer-wrapper .footer-row .footer-fourthblock .white-button:hover {
  color: #fff;
}
@media (max-width: 575px) {
  footer .footer-wrapper .footer-row .footer-fourthblock .white-button {
    width: 165px;
  }
}
footer .footer-wrapper .footer-row .footer-firstblock,
footer .footer-wrapper .footer-row .footer-secondblock {
  margin-right: 147px;
}
@media (max-width: 1399px) {
  footer .footer-wrapper .footer-row .footer-firstblock,
footer .footer-wrapper .footer-row .footer-secondblock {
    margin-right: 90px;
  }
}
@media (max-width: 1199px) {
  footer .footer-wrapper .footer-row .footer-firstblock,
footer .footer-wrapper .footer-row .footer-secondblock {
    margin-right: 80px;
  }
}
@media (max-width: 992px) {
  footer .footer-wrapper .footer-row .footer-firstblock,
footer .footer-wrapper .footer-row .footer-secondblock {
    margin-right: 0;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/mainbg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 545px;
  border-radius: 20px;
  margin-top: 30px;
}
@media (max-width: 575px) {
  .main {
    padding: 0 10px;
    height: 480px;
  }
}
.main h1 {
  color: #fff;
  max-width: 613px;
  text-align: center;
  margin-bottom: 15px;
}
.main p {
  font-size: 18px;
  color: #fff;
  text-align: center;
  max-width: 453px;
  margin-bottom: 45px;
}
@media (max-width: 575px) {
  .main p {
    font-size: 16px;
  }
}

.products h2 {
  margin-bottom: 30px;
}
.products .products-row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.form.main-page-form {
  margin-top: 120px;
}
@media (max-width: 575px) {
  .form.main-page-form {
    margin-top: 60px;
  }
}

.form {
  background-image: url(../img/ship.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 400px;
  padding: 64px 40px 59px 81px;
}
@media (max-width: 992px) {
  .form {
    padding: 50px 40px 59px 50px;
    background-position: 278%;
  }
}
@media (max-width: 767px) {
  .form {
    background-position: -10% 190%;
  }
}
@media (max-width: 575px) {
  .form {
    padding: 35px 35px 55px 40px;
    background-position: -10% 245%;
  }
}
@media (max-width: 535px) {
  .form {
    background-position: -10% 200%;
  }
}
@media (max-width: 470px) {
  .form {
    background-position: -10% 130%;
  }
}
.form h2 {
  margin-bottom: 20px;
  max-width: 626px;
}
@media (max-width: 767px) {
  .form h2 {
    max-width: 400px;
  }
}
@media (max-width: 500px) {
  .form h2 {
    font-size: 33px;
    margin-bottom: 20px !important;
  }
}
.form p {
  max-width: 430px;
}
.form .inputs-row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 230px));
  gap: 23px;
  margin-top: 81px;
}
@media (max-width: 767px) {
  .form .inputs-row {
    margin-top: 50px;
  }
}
@media (max-width: 500px) {
  .form .inputs-row {
    margin-top: 25px;
  }
}
.form .inputs-row input {
  background: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #929292;
  padding-left: 17px;
  height: 53px;
}
.form .inputs-row input:focus-visible {
  outline: none;
}
.form .inputs-row .red-button:hover {
  background: #fff;
}

.advantages {
  background: #fff;
  padding: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
@media (max-width: 575px) {
  .advantages {
    padding: 35px;
  }
}
.advantages h2 {
  margin-bottom: 37px;
}
.advantages .advantages-row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  row-gap: 40px;
}
.advantages .advantages-row .advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.advantages .advantages-row .advantages-item img {
  margin-right: 20px;
}
.advantages .advantages-row .advantages-item div h5 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}
.advantages .advantages-row .advantages-item div p {
  line-height: 130%;
  max-width: 360px;
}

.info .info-mainrow {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (max-width: 992px) {
  .info .info-mainrow {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.info .info-block {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  padding: 50px;
}
@media (max-width: 575px) {
  .info .info-block {
    padding: 35px;
  }
}
.info .info-block .info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.info .info-block .info-row img {
  margin-right: 30px;
}
.info .info-block p {
  line-height: 120%;
  margin: 0;
}
.info .info-block p:not(:last-of-type) {
  margin-bottom: 20px;
}
.info .info-block .line {
  position: relative;
  margin-top: 30px;
}
.info .info-block .line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#c90000), color-stop(100.03%, #620000));
  background: linear-gradient(90deg, #c90000 0%, #620000 100.03%);
  border-radius: 10px;
  top: 1px;
  left: 1px;
}

.about {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.products-page h2 {
  margin-bottom: 20px;
}
.products-page .products-pic {
  max-width: 100%;
}
.products-page .products .products-topblock {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  margin-top: 30px;
  gap: 30px;
}
@media (max-width: 575px) {
  .products-page .products .products-topblock {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.products-page .products .products-topblock .products-category .category-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 28px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}
@media (max-width: 575px) {
  .products-page .products .products-topblock .products-category .category-row {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.products-page .products .products-topblock .products-category .category-row .card-text {
  margin-bottom: 20px;
}
.products-page .products .products-block {
  margin-top: 60px;
}
@media (max-width: 575px) {
  .products-page .products .products-block {
    margin-top: 45px;
  }
}
.products-page .products .products-block .grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}

.about h2 {
  margin-bottom: 27px;
}
.about .about-toprow,
.about .about-bottomrow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .about-toprow .marg,
.about .about-bottomrow .marg {
  margin-top: -70px;
}
@media (max-width: 992px) {
  .about .about-toprow .marg,
.about .about-bottomrow .marg {
    margin-top: 0;
  }
}
@media (max-width: 992px) {
  .about .about-toprow h3 {
    margin-top: 45px;
  }
}
@media (max-width: 575px) {
  .about .about-toprow h3 {
    margin-top: 25px;
  }
}
.about .about-bottomrow {
  margin-top: 60px;
}
@media (max-width: 992px) {
  .about .about-bottomrow {
    margin-top: 45px;
  }
}
@media (max-width: 575px) {
  .about .about-bottomrow {
    margin-top: 25px;
  }
}
.about ul {
  list-style-type: disc;
  padding-left: 2rem;
}
.about li,
.about p {
  font-weight: 500;
  line-height: 145%;
  font-size: 14px;
}

.contacts-page h2 {
  margin-bottom: 30px;
}
.contacts-page .contacts-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 992px) {
  .contacts-page .contacts-row img {
    width: 100%;
  }
}
.contacts-page .contacts-row .table-wrapper {
  padding: 20px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
@media (max-width: 992px) {
  .contacts-page .contacts-row .table-wrapper {
    margin-bottom: 30px;
  }
}
.contacts-page .contacts-row .table-wrapper .table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 20px;
}
@media (max-width: 575px) {
  .contacts-page .contacts-row .table-wrapper .table-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contacts-page .contacts-row .table-wrapper .table-row:not(:last-child) {
  margin-bottom: 10px;
}
.contacts-page .contacts-row .table-wrapper .table-row:nth-child(2n) {
  background: #efefef;
  border-radius: 5px;
}
.contacts-page .contacts-row .table-wrapper .table-row:nth-child(2n+1) {
  border: 1px solid #efefef;
  border-radius: 5px;
}
.contacts-page .contacts-row .table-wrapper .table-row span {
  line-height: 120%;
  font-weight: 500;
}
.contacts-page .contacts-row .table-wrapper .table-row span:nth-child(2) {
  text-align: right;
}
@media (max-width: 575px) {
  .contacts-page .contacts-row .table-wrapper .table-row span:nth-child(2) {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .contacts-page .contacts-row .table-wrapper .table-row span:nth-child(1) {
    font-weight: bold;
  }
}
.contacts-page .contacts-row .table-wrapper .table-row a {
  color: #181414;
}

.certificates-page h2 {
  margin-bottom: 15px;
}
.certificates-page .cert-deskription {
  max-width: 450px;
  margin-bottom: 50px;
}
@media (max-width: 575px) {
  .certificates-page .cert-deskription {
    margin-bottom: 30px;
  }
}

.certif-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.certif-row img {
  cursor: pointer;
}
@media (max-width: 767px) {
  .certif-row .col-9:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */