footer {
  margin-top: 60px;
  .footer-wrapper {
    background: #404040;
    padding: 28px 0;
    @media (max-width: 992px) {
      text-align: center;
    }
    .footer-row {
      display: flex;
      align-items: flex-start;
      @media (max-width: 992px) {
        flex-direction: column;
        align-items: center;
      }
      a {
        color: $white;
        transition: all 0.4s;
        &:hover {
          color: $yellow;
          transition: all 0.4s;
        }
      }
      .footer-firstblock {
        max-width: 240px;
        @media (max-width: 1199px) {
          max-width: 190px;
        }
        @media (max-width: 992px) {
          max-width: fit-content;
        }
        img {
          margin-bottom: 25px;
        }
        p {
          color: rgba(255, 255, 255, 0.52);
        }
      }
      .footer-secondblock {
        max-width: 82px;
        @media (max-width: 992px) {
          max-width: fit-content;
        }
        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 20px;
            }
          }
        }
      }
      .footer-thirdblock {
        max-width: 326px;
        @media (max-width: 1199px) {
          max-width: 250px;
        }
        @media (max-width: 992px) {
          max-width: fit-content;
        }
        .footer-contacts {
          li {
            &:not(:last-child) {
              margin-bottom: 20px;
            }
          }
          .footer-phone {
            &::before {
              content: url(../img/tel-icon.svg);
              margin-right: 13px;
              @media (max-width: 540px) {
                margin-right: 5px;
              }
            }
            a {
              color: $yellow;
              font-weight: 500;
              font-size: 18px;
              transition: all 0.4s;
              &:hover {
                color: $white;
                transition: all 0.4s;
              }
            }
          }
          .footer-mail {
            &::before {
              content: url(../img/mail-icon.svg);
              margin-right: 13px;
              @media (max-width: 540px) {
                margin-right: 5px;
              }
            }
          }
          .footer-adress {
            color: $white;
            position: relative;
            padding-left: 28px;
            @media (max-width: 992px) {
              max-width: 517px;
            }
            @media (max-width: 540px) {
              padding-left: 0;
            }
            &::before {
              content: "";
              position: absolute;
              background: url(../img/adress-icon.svg);
              background-repeat: no-repeat;
              width: 12px;
              height: 19px;
              top: 6px;
              left: 1px;
              @media (max-width: 992px) {
                top: 1px;
                left: 69px;
              }
              @media (max-width: 540px) {
                content: url(../img/adress-icon.svg);
                margin-right: 5px;
                position: initial;
              }
            }
          }
        }
      }
      .footer-fourthblock {
        margin-left: auto;
        @media (max-width: 992px) {
          margin-left: 0;
          margin-top: 20px;
        }

        .white-button {
          color: $red;
          font-weight: 600;
          margin-bottom: 45px;
          width: 205px;
          &:hover {
            color: $white;
          }
        }
      }
      .footer-firstblock,
      .footer-secondblock {
        margin-right: 147px;
        @media (max-width: 1399px) {
          margin-right: 90px;
        }
        @media (max-width: 1199px) {
          margin-right: 80px;
        }
        @media (max-width: 992px) {
          margin-right: 0;
        }
      }
    }
  }
}
