$white: #fff;
$red: #c60101;
$black: #181414;
$grey: #929292;
$yellow: #fad537;
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: $black;
  a {
    font-weight: 500 !important;
    text-decoration: none;
  }
}
* {
  font-family: "Poppins", sans-serif !important;
}
body {
  background: #f9f9f9;
}
main {
  section {
    &:not(:first-of-type) {
      margin-top: 60px;
      @media (max-width: 575px) {
        margin-top: 45px;
      }
    }
  }
}
h1 {
  font-weight: 900;
  font-size: 52px;
  line-height: 120%;
  @media (max-width: 767px) {
    font-size: 45px;
  }
  @media (max-width: 575px) {
    font-size: 40px;
  }
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  @media (max-width: 500px) {
    font-size: 33px;
  }
}
h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}
button {
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  &:hover {
    border: 2px solid $red;
    background: rgba(252, 252, 252, 0);
    transition: all 0.4s;
    color: $red;
  }
}
ul {
  list-style-type: none;
  padding-left: 0;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.red-button {
  display: block;
  padding: 14px 29px;
  background: $red;
  color: $white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid rgba(252, 252, 252, 0);
  transition: all 0.4s;
  text-align: center;
  &:hover {
    border: 2px solid $red;
    background: $white;
    transition: all 0.4s;
    color: $red;
  }
}
.white-button {
  display: block;
  padding: 14px 29px;
  background: $white;
  color: $black;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  transition: all 0.4s;
  text-align: center;
  &:hover {
    background: $red;
    transition: all 0.4s;
    color: $white;
  }
}
.products-card {
  border-radius: 10px;
  img {
    @media (max-width: 575px) {
      min-height: 270px !important;
    }
  }
  .card-body {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    @media (max-width: 767px) {
      padding: 20px;
    }
  }
  .card-title {
    font-weight: bold;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
  }
  .card-text {
    font-weight: 500;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
  }
  .red-button {
    margin-top: auto;
  }
}
.price {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: auto;
}
.breadcrumb {
  margin-top: 43px;
  margin-bottom: 6px;
  @media (max-width: 767px) {
    margin-top: 25px;
  }
  .breadcrumb-item,
  a {
    font-family: "Poppins", sans-serif;
    color: #a8a8a8;
    transition: all 0.4s;
    &:not(.active):hover {
      color: $red;
      transition: all 0.4s;
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
    color: #a8a8a8;
  }
}
.pop-up {
  background-image: url(../img/ship.webp);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 130% 100%;
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 400px;
  width: 805px;
  max-width: 100%;
  padding: 40px;
  padding-bottom: 50px;
  cursor: auto !important;
  @media (max-width: 575px) {
    background-size: 80%;
  }
  h2 {
    margin-bottom: 10px;
  }
  p {
    max-width: 305px;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    margin-bottom: 20px;
  }
  form {
    max-width: 350px;
  }
  .popup-inputs {
    display: flex;
    flex-direction: column;
    input {
      background: #f9f9f9;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      font-weight: 400;
      font-size: 14px;
      color: $grey;
      padding-left: 17px;
      height: 53px;
      margin-bottom: 20px;
      &:focus-visible {
        outline: none;
      }
    }
  }
}
.fancybox__content > .carousel__button.is-close {
  top: 7px;
  right: 7px;
  color: #a3a3a3;
  &:hover {
    border: none;
  }
}
.fancybox__carousel.is-draggable .fancybox__slide,
.fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
  cursor: auto;
}
.products-block {
  margin-top: 60px;
  @media (max-width: 575px) {
    margin-top: 45px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
  }
}
