.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/mainbg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 545px;
  border-radius: 20px;
  margin-top: 30px;
  @media (max-width: 575px) {
    padding: 0 10px;
    height: 480px;
  }
  h1 {
    color: $white;
    max-width: 613px;
    text-align: center;
    margin-bottom: 15px;
  }
  p {
    font-size: 18px;
    color: $white;
    text-align: center;
    max-width: 453px;
    margin-bottom: 45px;
    @media (max-width: 575px) {
      font-size: 16px;
    }
  }
}
.products {
  h2 {
    margin-bottom: 30px;
  }
  .products-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
  }
}
.form.main-page-form {
  margin-top: 120px;
  @media (max-width: 575px) {
    margin-top: 60px;
  }
}
.form {
  background-image: url(../img/ship.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 400px;
  padding: 64px 40px 59px 81px;
  @media (max-width: 992px) {
    padding: 50px 40px 59px 50px;
  }
  @media (max-width: 575px) {
    padding: 35px 35px 55px 40px;
  }
  h2 {
    margin-bottom: 20px;
    max-width: 626px;
    @media (max-width: 767px) {
      max-width: 400px;
    }
  }
  p {
    max-width: 430px;
  }
  .inputs-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 230px));
    gap: 23px;
    margin-top: 81px;
    @media (max-width: 767px) {
      margin-top: 50px;
    }
    input {
      background: #f9f9f9;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      font-weight: 400;
      font-size: 14px;
      color: $grey;
      padding-left: 17px;
      height: 53px;
      &:focus-visible {
        outline: none;
      }
    }
    .red-button {
      &:hover {
        background: $white;
      }
    }
  }
}
.advantages {
  background: $white;
  padding: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  @media (max-width: 380px) {
    padding: 40px;
  }
  @media (max-width: 330px) {
    padding: 30px;
  }
  h2 {
    margin-bottom: 37px;
  }
  .advantages-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    column-gap: 60px;
    row-gap: 40px;
    .advantages-item {
      display: flex;
      align-items: flex-start;
      img {
        margin-right: 20px;
      }
      div {
        h5 {
          font-weight: 700;
          font-size: 16px;
          margin-bottom: 5px;
        }
        p {
          line-height: 130%;
          max-width: 360px;
        }
      }
    }
  }
}
.info {
  .info-mainrow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    @media (max-width: 992px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .info-block {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: $white;
    padding: 50px;
    @media (max-width: 380px) {
      padding: 40px;
    }
    @media (max-width: 330px) {
      padding: 30px;
    }
    .info-row {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      img {
        margin-right: 30px;
      }
    }
    p {
      line-height: 120%;
      margin: 0;
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
    .line {
      position: relative;
      margin-top: 30px;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        background: linear-gradient(90deg, #c90000 0%, #620000 100.03%);
        border-radius: 10px;
        top: 1px;
        left: 1px;
      }
    }
  }
}
.about {
  height: fit-content;
}
