.products-page {
  h2 {
    margin-bottom: 20px;
  }
  .products-pic {
    max-width: 100%;
  }
  .products {
    .products-topblock {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
      margin-top: 30px;
      @media (max-width: 575px) {
        grid-template-columns: repeat(1, 1fr);
      }
      gap: 30px;
      .products-category {
        .category-row {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 28px;
          @media (max-width: 575px) {
            grid-template-columns: repeat(1, 1fr);
          }
          .products-card {
            img {
              @media (max-width: 1199px) {
                min-height: 250px;
              }
              @media (max-width: 992px) {
                min-height: fit-content;
              }
            }
          }
          .card-text {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
